# Python artifacts
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-selfcheck.json

# Project-specific files
*.csv
chrome_profile/
result_html/
cookies_local_storage/

.DS_Store
*.log

# VS Code
.vscode/
